<!DOCTYPE html>
<html>
  <head>
    <title>Todo List</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <p>Todo list</p>
        <% todos.forEach(function(todo) { %>
          <h3><%= todo.name %></h3>
        <% }); %>
  </body>
  </html>
