<!DOCTYPE html>
<html>
  <head>
    <title>Todo List</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
  <p>Todo list</p>
  <h3><%= todos[0].name %></h3>
  <h3><%= todos[1].name %></h3>
  <h3><%= todos[2].name %></h3>

  </body>
  </html>
